{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="margin-vertical-lg col-4 padding-collapse-left hidden-xs hidden-sm">
    <h1 class="site-title">
        <a href="/">{{@blog.title}}</a>
    </h1>
    {{> "site-nav"}}
</header>

{{> "mobile-header"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <main id="site-main" class="site-main col-12 col-md-8 col-lg-6" role="main">
        <article class="post-full">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
                    {{#primary_tag}}
                        <span class="date-divider">//</span> <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                </section>
                <h2 class="post-full-title margin-vertical-md">{{title}}</h2>
            </header>

            <section class="post-full-content">
                {{#if feature_image}}
                    <img class="post-image" src="{{feature_image}}" alt="post-image2"/>
                {{/if}}

                {{content}}
            </section>

            <section class="share-wrap">
                <span>Share this article:</span>
                <ul>
                    <!-- facebook -->
                    <li class="share-this">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
                           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>

                    <!-- twitter -->
                    <li class="share-this">
                        <a href="https://twitter.com/share?text={{title}}&amp;url={{url absolute='true'}}"
                           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>

                    <!-- reddit -->
                    <li class="share-this">
                        <a href="http://reddit.com/submit?url={{url absolute='true'}}&amp;title={{title}}"
                           onclick="window.open(this.href, 'reddit-share', 'width=490,height=530');return false;">
                            <i class="fa fa-reddit"></i>
                        </a>
                    </li>

                    <!-- linkedIn -->
                    <li class="share-this">
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}"
                           onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>

                    <!-- Pintrest -->
                    <li class="share-this">
                        <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </section>

            {{!--

            If you use Disqus comments, just uncomment this block.
            The only thing you need to change is "test-apkdzgmqhj" - which
            should be replaced with your own Disqus site-id.

             --}}
            <section class="post-full-comments">
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '{{url absolute="true"}}';
                        this.page.identifier = 'ghost-{{comment_id}}';
                    };
                    (function() {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://bendoylegray.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
            </section>

        </article>
    </main>
    <div class="col-2 hidden-xs hidden-sm hidden-md">
        {{> "tag-list"}}
        {{> "recent-posts"}}
    </div>
{{!-- Links to Previous/Next posts --}}

{{/post}}
